[Unit]
Description=Spring Boot Eventlogmapper

[Service]
User=TeamSpeak
ExecStart=/opt/eventlogmapper/eventlogmapper-1.0.jar
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target